.navbar {
    background: #fff;
}
.navbar-brand {
    width: 80px;
}
.navbar a {
    font-size: 1.3rem;
    text-transform: capitalize;
}
.navbar a:hover {
    color: #3498db;
}
.menu_active {
    font-weight: bold;
    border-bottom: 1px solid #565387;
}
